/* http://meyerweb.com/eric/tools/css/reset/ 
   이거 복붙한 코드
*/

/* a tag reset css 추가 */
a {
  color: inherit; /* Removes the default blue color, inherits color from parent */
  text-decoration: none; /* Removes the default underline */
  cursor: pointer; /* Ensures the cursor remains a pointer on hover */
}

/* Optional: Reset visited link styles */
a:visited {
  color: inherit; /* Prevents visited links from having a different color */
}

/* Optional: Reset hover/active/focus states if needed */
a:hover,
a:active,
a:focus {
  /* Add any desired styles for these states, or reset them further if necessary */
  outline: none; /* Removes the default outline on focus in some browsers */
}

/* stylelint-disable value-no-vendor-prefix */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: -0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  /* // IE and Edge */
  -ms-overflow-style: none;
  /* // Firefox */
  scrollbar-width: none;

  &::before,
  &::after {
    box-sizing: border-box;
  }

  &::-webkit-scrollbar {
    /* Chrome */
    display: none;
  }
}

img {
  border: 0;
}

a {
  text-decoration: none;
}

input,
button {
  -webkit-appearance: none;
}

input::-webkit-contacts-auto-fill-button {
  position: absolute;
  right: 0;
  display: none !important;
  pointer-events: none;
  visibility: hidden;
}

input {
  background-color: transparent;
  background-image: none !important;
  border: 0;
}

button {
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 0;

  &:disabled {
    cursor: not-allowed;
  }
}

/* override safari default blue */
input:is([type="button"], [type="submit"], [type="reset"]),
input[type="file"]::file-selector-button,
button {
  color: initial;
}
